body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  height: 100vh;
  color: white;
}

header{
  background-color: #023047;
}

h1,h2,h3,h4,h5,h6{
  color: #FB8500;
  
  font-weight: 500;
}

.np-container{
  background-color: #023047;
  margin: 0 auto ;
  width: 800px;
  height: 50vh;
}

label{
  font-weight: 600;
  padding-right: 10px;
}